<footer class="site-footer bg-light w-100 py-3">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				{%- include social.html networks=site.data.author.social -%}
			</div>
		</div>
		<div class="row">
			<div class="col text-left">
				<small class="text-muted">{{ loc.last_build }} <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date_to_rfc822 }}</time></small>
			</div>
			<div class="col text-right">
				<small class="text-muted"><a href="{{ '/privacy/' | relative_url }}" class="text-secondary">{{ loc.privacy }}</a> &middot; {{ site.copyright }}</small>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="{{ loc.cc_license_alt }}" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />
				<small class="text-muted">
					{{ loc.license_html }}
				</small>
			</div>
		</div>
	</div>
</footer>
