<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="author" content="{{ site.author.name }}" />
	<title>{{ page.title | default: site.title }}</title>
	<link rel="stylesheet" href="{{ '/assets/bootstrap/bootstrap-reboot.min.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/bootstrap/bootstrap-grid.min.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/bootstrap/bootstrap.min.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/fontawesome-free/css/all.min.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
	{%- feed_meta -%}
</head>
