<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand" href="/">{{ site.data.author.brand }}</a>
		<a class="navbar-brand" href="{{ site.build.server }}" target="_blank">
			<img src="{{ site.build.status }}" alt="build status badge" />
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav ml-auto">
				{%- for link in include.items -%}
					{%- assign class = nil -%}
					{%- if page.url contains link.url -%}
						{%- assign class = 'active' -%}
					{%- endif -%}
					{%- assign url = link.url -%}
					{%- if link.relative -%}
						{%- assign url = link.url | relative_url -%}
					{%- endif -%}
					{%- if link.sublinks -%}
						<li class="nav-item dropdown {{ class }}">
						{% unless url == blank or url == nil %}
							<a href="{{ url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
						{% else %}
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
						{% endunless %}
							<div class="dropdown-menu">
								{% for sublink in link.sublinks %}
									{% if sublink.title == 'separator' %}
										<div role="separator" class="dropdown-divider"></div>
									{% else %}
										{%- assign class = nil -%}
										{%- if page.url contains sublink.url -%}
											{%- assign class = 'active' -%}
										{%- endif -%}
										{%- assign suburl = sublink.url -%}
										{%- if sublink.relative -%}
											{%- assign suburl = sublink.url | relative_url -%}
										{%- endif -%}
										<a class="dropdown-item {{ class }}" href="{{ suburl }}">{{ sublink.title }}</a>
									{% endif %}
								{% endfor %}
							</div>
						</li>
					{%- else -%}
						{%- if link.disabled -%}
							<li class="nav-item {{ class }}">
								<a class="nav-link disabled" tabindex="-1" aria-disabled="true">{{ link.title }}</a>
							</li>
						{%- else -%}
							<li class="nav-item {{ class }}">
								<a class="nav-link" href="{{ url }}">{{ link.title }}</a>
							</li>
						{%- endif -%}
					{%- endif -%}
				{%- endfor -%}
			</ul>
		</div>
	</div>
</nav>
