{%- if include.posts.size > 0 -%}
<div class="row">
	<div class="col-lg-8 col-md-10 mx-auto">
		{%- for post in include.posts -%}
		<article class="card my-5 mx-0">
			<section class="card-body">
				<a href="{{ post.url | relative_url }}" class="card-link">
					<h2 class="card-title">{{ post.title | escape }}</h2>
				</a>
				<cite class="card-subtitle mb-2 text-muted">
					<i class="fa fa-calendar-alt"></i>
					<time datetime="{{ post.date | date_to_xmlschema }}" >{{ post.date | date: '%a, %e %b %Y %H:%M:%S' }}</time>
				</cite>
			{%- if site.show_excerpts -%}
				{{ post.excerpt | strip | replace: '<p>', '<p class="card-text">' }}
			{%- endif -%}
			{%- if post.content contains "<!--more-->" -%}
				<a href="{{ post.url | relative_url }}#read-more" class="card-link btn btn-dark float-right">Read more</a>
			{%- endif -%}
			</section>
		{%- unless post.tags.size == 0 -%}
			<footer class="card-footer">
				<small class="text-muted">Tags: {{ post.tags | sort | join: ", " }}</small>
			</footer>
		{%- endunless -%}
		</article>
		{%- endfor -%}
	</div>
</div>
{%- endif -%}
