<script src="{{ '/assets/jquery/jquery-3.3.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/popper/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/popper/tooltip.min.js' | relative_url }}"></script>
<script src="{{ '/assets/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets/fontawesome-free/js/all.min.js' | relative_url }}"></script>
<script src="{{ '/assets/katex/katex.min.js' | relative_url }}"></script>
<script src="{{ '/assets/main.js' | relative_url }}"></script>
