<ul class="list-inline text-center">
	{%- for acct in site.author.social -%}
		<li class="list-inline-item">
		{%- assign base_url = "" -%}
		{%- if acct.instance -%}
			{%- assign base_url = acct.instance -%}
		{%- else -%}
			{%- assign social_conf = site.data.social | where: "name", acct.name -%}
			{%- assign base_url = social_conf.first.url -%}
		{%- endif -%}
		{%- assign url = base_url | append: acct.username -%}
			<a href="{{ url }}">
			{%- if acct.icon -%}
				{%- if acct.icon.type == "fa" -%}
					<span class="svg-icon {{ acct.icon.value }}"></span>
				{%- endif -%}
			{%- else -%}
				<svg preserveAspectRatio="xMidYMid meet" x="0" y="0" viewBox="0 0 16 16" class="svg-icon align-text-top d-inline-block">
					<use xlink:href="{{ '/assets/minima-social-icons.svg#' | append: acct.name | relative_url }}"></use>
				</svg>
			{%- endif -%}
				<span class="username">{{ acct.display | escape }}</span>
			</a>
		</li>
	{%- endfor -%}
</ul>
