blockquote {
	padding: 1rem 1.2rem 1rem 4rem;
	margin-bottom: 1rem;
	border-left: 1rem solid $dark;
	border-right: 0.4rem solid $dark;
	@include serif-font;
	font-size: 1.25rem;
	line-height: 1.2;
	color: $gray-700;
	background-color: $light;
	text-align: justify;
	quotes: "\201C""\201D""\2018""\2019";

	&::before {
		@include serif-font;
		color: $gray-600;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}

	p {
		display: inline;
	}

	footer {
		display: block;
		font-size: 80%;
		color: $grey-650;
		&::before {
			content: "\2014\00A0";
		}
	}
}