// Global styling for this template
body {
	font-size: 20px;
	color: $gray-900;

	@include serif-font;
}

p {
	line-height: 1.5;
	margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;

	@include sans-serif-font;
}

h2 {
	font-size: 1.6rem;

	@media only screen and (min-width: 576px) {
		font-size: 2rem;
	}
}

a {
	color: $blue;

	@include transition-all;

	&:focus,
	&:hover {
		color: $primary;
		text-decoration: underline;
	}
}

.section-heading {
	font-size: 36px;
	font-weight: 700;
	margin-top: 60px;
}

.caption {
	font-size: 14px;
	font-style: italic;
	display: block;
	margin: 0;
	padding: 10px;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

::-moz-selection {
	color: $white;
	background: $primary;
	text-shadow: none;
}

::selection {
	color: $white;
	background: $primary;
	text-shadow: none;
}

img::selection {
	color: $white;
	background: transparent;
}

img::-moz-selection {
	color: $white;
	background: transparent;
}

.zero-size {
	width: 0;
	height: 0;
}

div.badge-bin {
	img {
		width: 147px;
	}
}
