html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: $footer-height;
	/* Margin bottom by footer height */
}

footer {
	position: absolute;
	bottom: 0;
	height: $footer-height;
	/* Set the fixed height of the footer here */
}
