<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}

	{%- assign classes_arr = " " | split: " " -%}
	{%- if page.landing == true -%}{%- assign classes_arr = classes_arr | push: "landing-page" -%}{%- endif -%}
	{%- if page.service == true -%}{%- assign classes_arr = classes_arr | push: "service-page" -%}{%- endif -%}
	{%- assign classes = classes_arr | join: " " -%}

	<body class="{{ classes }}">
		{% include header.html %}
		{% include navbar.html items=site.data.navigation %}
		{% if page.layout == 'post' %}
		<aside class="sticky-top float-left ml-5 mt-5 bg-light px-3" style="max-width: 15rem;">
			<p>This article will take {{ content | reading_time | pluralize: "minute" }} to read.</p>
		</aside>
		{% endif %}
		<main class="container py-3" aria-label="Content">
			{{ content }}
			<div class="row justify-content-end text-right">
				<div class="col-6">
					<a id="scroller" class="btn m-3 p-2 text-light bg-dark rounded" title="Scroll to the top of the page">
						<i class="fa fa-5x fa-chevron-up"></i>
					</a>
				</div>
			</div>
		</main>
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
