<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% include head.html %}

	{%- assign classes_arr = " " | split: " " -%}
	{%- if page.landing == true -%}{%- assign classes_arr = classes_arr | push: "landing-page" -%}{%- endif -%}
	{%- if page.service == true -%}{%- assign classes_arr = classes_arr | push: "service-page" -%}{%- endif -%}
	{%- if page.post == true -%}{%- assign classes_arr = classes_arr | push: "post-page" -%}{%- endif -%}
	{%- assign classes = classes_arr | join: " " -%}

	<body class="{{ classes }}">
		{% include header.html %}
		{% include navbar.html items=site.data.navigation %}
		<main class="container-fluid" aria-label="Content">
			<div class="row">
				<div class="col-lg-2 col-md-12">
					{% if page.layout == 'post' or page.reading_time == true %}
					<aside class="sticky-top mb-3 mb-lg-0 bg-light px-3 border rounded-lg border-dark shadow">
						<p class="text-muted">
							This article will take {{ content | reading_time | pluralize: "minute" }} to read.
						</p>
					</aside>
					{% endif %}
				</div>
				<div class="col-lg-8 col-md-12">
					{{ content }}
				</div>
				<div class="col-lg-2 col-md-12">
					{% if page.toc %}
					<aside class="sticky-top mb-3 mb-lg-0 bg-light px-3 border rounded-lg border-dark shadow">
						{% capture incl_toc_content %}{% include_relative {{ page.toc }} %}{% endcapture %}
						{{ incl_toc_content | markdownify }}
					</aside>
					{% endif %}
				</div>
			</div>
			<div class="row justify-content-end text-right">
				<div class="col-6">
					<a id="scroller" class="btn m-3 p-2 text-light bg-dark rounded" title="Scroll to the top of the page">
						<i class="fa fa-5x fa-chevron-up"></i>
					</a>
				</div>
			</div>
		</main>
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
