---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h2>{{ page.title | escape }}</h2>
		<small class="text-muted">Posted on
			{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
			{%- if page.author -%}
			<span> by • <span class="font-italic" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</span></span>
			{%- endif -%}
		</small>
	</header>
	<section itemprop="articleBody">
		{{ content }}
	</section>
	<a href="{{ page.url | relative_url }}" hidden></a>
</article>
<form method="post" action="https://klez-commenter.herokuapp.com/v3/entry/kLeZ/kLeZ.github.io/draft/comments/">
	<input name="options[redirect]" type="hidden" value="https://klez.me">
	<input name="options[slug]" type="hidden" value="{{ page.slug }}">
	<input type="text" name="fields[name]" />
	<input type="text" name="fields[email]" />
	<input type="text" name="fields[url]" />
	<textarea name="fields[message]" rows="3"></textarea>
	<button type="submit">Submit</button>
</form>
