---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h2>{{ page.title | escape }}</h2>
		<small class="text-muted">Posted on
			{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_string }}</time>
			{%- if page.author -%}
			<span> by • <span class="font-italic" itemprop="author" itemscope itemtype="http://schema.org/Person">{{ page.author }}</span></span>
			{%- endif -%}
		</small>
	</header>
	<section itemprop="articleBody">
		{{ content }}
	</section>
	<a href="{{ page.url | relative_url }}" hidden></a>
</article>
{%- if site.comments.enabled -%}
<p class="m-0 invisible zero-size">
	<a href="" class="invisible" id="comments">comments</a>
</p>
<h3>Comments</h3>
	{%- if site.comments.type == "staticman" -%}
		{%- include staticman-comments-new.html post_url=site.comments.post_url -%}
	{%- endif -%}
	{%- assign page_comments = site.data.comments[page.slug] -%}
	{%- assign social_conf = site.data.social | where: "name", site.comments.avatar_provider | first -%}
	{%- include comment-list.html comments=page_comments avatar_url=social_conf.url -%}
{%- endif -%}
