---
layout: page
---
<div class="row my-3">
	<div class="col-4">
		<img alt="Personal Photo" title="Personal Photo" src="{{ page.left_image }}" class="rounded-circle w-100 pt-2" />
		<p class="text-responsive text-center my-5"><a href="{% link _pages/contatti.md %}">Contattami</a></p>
	</div>
	<div class="col-8">
		{% if page.right_content %}
			{% capture incl_right_content %}{% include_relative {{ page.right_content }} %}{% endcapture %}
			{{ incl_right_content | markdownify }}
		{% endif %}
	</div>
</div>
<div class="row my-5">
	<div class="col">
		{{ content }}
	</div>
</div>
